@model SisAlmacenProductos.Models.User

@{
    ViewBag.Title = "Editar Usuario";
}

<h2>Editar Usuario</h2>

<form asp-action="EditarUsuario" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Role"></label>
        <select asp-for="Role" class="form-control">
            <option value="Administrador">Administrador</option>
            <option value="Almacenero">Almacenero</option> <!-- Cambiado aquí -->
            <option value="Cliente">Cliente</option>
            <option value="Logistica">Logística</option> <!-- Nuevo rol -->
        </select>
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Guardar Cambios</button>
    <a asp-action="RegistrarUsuario" class="btn btn-secondary mt-3">Cancelar</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
