@model SisAlmacenProductos.Models.User

@{
    ViewBag.Title = "Editar Usuario";
}

<h2>Editar Usuario</h2>

<form asp-action="EditarUsuario" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="RolId" class="form-label">Rol</label>
        <select asp-for="RolId" class="form-control">
            <option value="1">Administrador</option>
            <option value="2">Almacenero</option> <!-- Cambiado aquí -->
            <option value="3">Cliente</option>
            <option value="4">Logística</option> <!-- Nuevo rol -->
        </select>
        <span asp-validation-for="RolId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Guardar Cambios</button>
    <a asp-action="RegistrarUsuario" class="btn btn-secondary mt-3">Cancelar</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
